.inputForm {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 1rem;
    width: 100%;

    margin-top: calc(0px - 1.5rem - 6px);
}

.inputForm textarea, 
.inputForm button {
    border-radius: 10px;
    border: 1px solid black;

    height: 4rem;
    line-height: 140%;
    padding: 1rem;

    align-content: center;
} 

.taskTitleFiel {
    width: 45rem;

    background-color: var(--gray-500);
    color: var(--gray-300);

    resize: none;
    overflow: hidden;    
}

.addButton {    
    color: white;
    background-color: var(--blue-dark);

    width: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    gap: 5px;
}